<html>
    <head>
        <title>Todo List</title>
        <script src="https://code.jquery.com/jquery-1.12.3.js" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc=" crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
        <script src="assets/todo-list.js"></script>
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit">Add item</button>
            </form>
            <ul>
                <% for(i = 0; i < todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>